<div class="sportgroundFilter" data-role="content" >
	<form action="#sport-grounds" data-ajax="false" id="sportgroundFilterForm">
		<input type="search" name="search-sportgroungs" id="search-sportgroungs" value="" data-mini="true" placeholder="Название улицы" />
		<div id="approved">
			<label for="button-like">Показывать только:</label>
			<a id="button-like" class="ui-nodisc-icon btn-all" href="#" data-role="button" data-theme='b'>Все площадки</a>
		</div>
		<input data-role="none" type="hidden" id="starts-form" value="" />
		<div id="filterRating">
			<div class="stars stars-noselect" data-position="1"/>
			<div class="stars stars-noselect" data-position="2"/>
			<div class="stars stars-noselect" data-position="3"/>
			<div class="stars stars-noselect" data-position="4"/>
			<div class="stars stars-noselect" data-position="5"/>
			<div><span>Состояние площадки не ниже: </span><span id="stars-count">1</span></div>
		</div>
		<div class="ui-corner-all custom-corners" style="margin-top: 1em;">
			<div class="ui-bar ui-bar-a">
				<h3>Дополнительный фильтр</h3>
				<a id="btn-addedFilter" href="#" class="ui-btn ui-icon-arrow-d ui-btn-icon-notext" style="float: right"></a>
			</div>
			<div id="addedFilter" class="ui-body ui-body-a" style="display: none">
				<div class="filterCheck">
					<span class='filterLabel' style="float:left; width: 69%">
						<label for="filterCheckPlace">ближайшие/</label>
						<label for="filterCheckPlace" style="margin-left: 2em !important;">по районам, метро</label>
					</span>
					<select name="filterCheckPlace" id="filterCheckPlace" data-role="slider" data-mini="true">
						<option value="off">Off</option>
						<option value="on">On</option>
					</select>
				</div>
				<div id="distance-filter">
					<label for="distance">В радиусе (км):</label>
					<input type="range" name="distance" id="distance" value="7" min="1" max="30" />
				</div>
				<div class="filter-metro-district">
					<label for="filter-district" class="select">район:</label>
					<select name="filter-district" id="filter-district">
						<option value="">Все районы</option>
					</select>
					<label for="filter-station" class="select" style="margin-top: 1.1em">метро:</label>
					<select name="filter-station" id="filter-station">
						<option value="">Все станции</option>
					</select>
				</div>
				<div class="filter-trainers">
					<label for="filter-trainer" class="select" style="margin-top: 1.1em">тренажер:</label>
					<select name="filter-trainer" id="filter-trainer">
						<option value="">Все тренажеры</option>
					</select>
				</div>
			</div>
		</div>
		
		<input type="submit" data-inline="true" value="Отобрать" data-theme="b" id="filter-submit">
	</form>
</div>