<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.freeworkout.freeworkout" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreeWorkout</name>
    <description>
        FreeWorkout - приложение, которое поможет Вам найти спортивную площадку возле дома для занятия спортом, подобрать тренировку или упражнения.
    </description>
    <author email="mail@free-workout.ru" href="http://free-workout.ru">
        1builder
    </author>
    <icon src="icon-72-hdpi.png"/>
    <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <content src="index.html" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <preference name="fullscreen" value="true" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <access origin="http://*" launch-external="yes" />
    <access origin="https://*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />
    <access origin="*"/>
</widget>
