<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.freeworkout.freeworkout" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreeWorkout</name>
    <description>
        Application to find sportgrounds, exercises, training.
    </description>
    <author email="mail@free-workout.ru" href="http://free-workout.ru/">
        1builder
    </author>
    <content src="index.html" />
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
    </feature>
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <preference name="fullscreen" value="true" />           
    <gap:plugin name="org.apache.cordova.network-information" />
    <access origin="*" />

</widget>
